<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FreshFood.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE90FF881D50DE1300B0FEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE90FF9E1D50DE1300B0FEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE90FFA91D50DE1400B0FEFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
